<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4iiaZAwxPwvdW3Z_3QOXeaVa8w223OG4</string>
	<key>GCM_SENDER_ID</key>
	<string>277512229995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rawan.shouralenaApp</string>
	<key>PROJECT_ID</key>
	<string>jjjjjjjj-cb8cd</string>
	<key>STORAGE_BUCKET</key>
	<string>jjjjjjjj-cb8cd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277512229995:ios:dee43e3e7ceeb36564cd2e</string>
</dict>
</plist>